# Enable Rewrite Engine
RewriteEngine On

# Specify the 404 Error Document
ErrorDocument 404 /404.php

# Redirect "Home" to "index.php"
RewriteRule ^Home$ index.php [L]
RewriteRule ^Login$ login.php [L]
RewriteRule ^Forget-Password$ forget_password.php [L]
RewriteRule ^Logout$ logout.php [L]
RewriteRule ^Register$ register.php [L]
RewriteRule ^Verify-Email$ email_verify.php [L]
RewriteRule ^Set-Profile$ set_profile.php [L]
RewriteRule ^Seller-Profile$ candidate_profile.php [L]
RewriteRule ^Message$ candidates_messages.php [L]
RewriteRule ^Seller-Guest-View$ seller_guest_view.php [L]
RewriteRule ^Terms$ terms&conditions.php [L]
RewriteRule ^Update-Password$ update_password.php [L]





RewriteRule ^Insert$ insert.php [L]

# Ensure file paths match exactly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /404.php [L]